process {
    executor = 'slurm'
    errorStrategy = 'retry'
    maxRetries = 1
    withLabel:process_low {
        cpus = 4
    }
    withLabel:process_medium {
        cpus = 16
    }
    withLabel:process_high {
        cpus = 24
    }
    withName: 'NFCORE_RNASEQ:RNASEQ:KRAKEN2' {
        cpus = 24
        memory = '300 GB'
    }
}

executor {
    name = 'slurm'
}
