process {
    executor = 'slurm'
    errorStrategy = 'retry'
    maxRetries = 1
    withLabel:process_low {
        cpus = 4
        clusterOptions = '--mem-per-cpu=8G'
    }
    withLabel:process_medium {
        cpus = 16
        clusterOptions = '--mem-per-cpu=8G'
    }
    withLabel:process_high {
        cpus = 24
        clusterOptions = '--mem-per-cpu=8G'
    }
}

executor {
    name = 'slurm'
}
